# ChromaLinux/ISO integration fragment. Sourced by update-grub.
case " ${GRUB_CMDLINE_LINUX_DEFAULT:-} " in
  *" lockdown="*) ;;
  *) GRUB_CMDLINE_LINUX_DEFAULT="${GRUB_CMDLINE_LINUX_DEFAULT:-} lockdown=integrity" ;;
esac
